* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.img-1{

    height: auto;
    width: 100%;
    min-width: 100%;
    object-fit: cover;
}
.text{
    
    position: absolute;
    bottom: 70px;
    background-color: rgba(255, 187, 0, 0.7);
    width: 69%;
    padding-left: 15px;
    line-height: 50px;
}
.left{
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 10px 28px;
}
.card{
    width: 47%;
}
.card-img{
    border-top: 7px solid;
    border-color: #ff9800;
    width: 100%;
    line-height: normal;
}
.card-tittle {
    font-size: 30px;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    line-height: 60px;
}
.card-para{

    font-size: 15px;
    font-family: Verdana, sans-serif;
}
.right {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 10px 28px;
}

/*@media only screen and (max-width:900px){
 .right{
     flex-direction: column;
     align-items: center;
 }  
 .left{
     flex-direction: column;
     align-items: center;
 }
 .text{
     display:none ;
 }
 .card-img{
    max-width: 200%;
     height: 200px;
     
 }
}